<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="header-panel">
    <div class="row">
        <div class="col-md-12">
            <h3> Matcher </h3>
        </div>
    </div>

</div>
<div class="container-fluid">
        <form method="POST" enctype="multipart/form-data" action="/file/upload">
        <div class="form-group row">
            <label for="excelFile" class="col-sm-2 col-form-label form-control-sm">Excel file</label>
            <div class="col-sm-6">
            <input type="file" name="excelFile" id="excelFile" placeholder="Upload xlsx file..." class="form-control form-control-sm" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="excelFile" class="col-sm-2 col-form-label form-control-sm">Tips/set</label>
            <div class="col-sm-6">
            <input type="number" min="2" id="k" name="k" class="form-control form-control-sm" required/>
<!--            <input type="submit" value="Upload" />-->
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm mb-2">Upload</button>
            </div>
        </div>
    </form>
    <th:block th:if="${tipsters != null}">
    <div class="row" >
        <div class="col-md-12">
            <h4> Original data set </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tipster</th>
                    <th:block th:each="day : ${days}">
                        <th th:text="${day}"></th>
                    </th:block>
                    <th> Wins/month</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="tipster : ${tipsters}">
                        <td th:text="${tipster.getName()}" />
                        <th:block th:each="day : ${days}">
                            <td th:text="${tipster.getResults().get(day)}" th:classappend="${tipster.getResults().get(day) ==1 } ? bg-success : bg-danger"></td>
                        </th:block>
                        <td th:text="${tipster.getWinsPerMonth()}" />
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    </th:block>

    <th:block th:if="${resultsSorted != null && resultsSorted.size() > 0}">
    <div class="row" >
        <div class="col-md-12">
           <h4 th:text="'Results: ' + ${noOfFoundCombinations} + ' relevant combinations found'"> </h4>
        </div>
    </div>
    <div class="row" th:each="result : ${resultsSorted}">
        <div class="col-md-12">
            <h5 th:text="${result.key} + 'wins / month - ' + ${result.value.size()} + ' combinations'"> </h5>

            <th:block th:each="combination : ${result.value}">

                <table  class="table table-bordered">
                    <thead>
                    <tr>
                        <th> Tipster</th>
                        <th:block th:each="day : ${days}">
                            <th th:text="${day}"></th>
                        </th:block>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tipster : ${combination}">
                        <td th:text="${tipster.getName()}" />
                        <th:block th:each="day : ${days}">
                            <td th:text="${tipster.getResults().get(day)}" th:classappend="${tipster.getResults().get(day) ==1 } ? bg-success : bg-danger"></td>
                        </th:block>
                    </tr>

                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
    </th:block>
</div>

</body>
</html>